.landing {
  display: flex;
  justify-content: center;
  background-image: url("./bg-cover.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 50px;
}

.landing .left {
  margin-top: 90px;
  margin-bottom: 190px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--light);
  font-size: 18px;
  gap: 23px;
  width: min(50%, 555px);
}

.landing h2 {
  font-size: 70px;
  text-transform: uppercase;
}

.landing .text{
  line-height: 38px;
}

.landing a {
  display: flex;
  align-items: center;
}

.landing a .icon {
  font-size: 35px;
  margin-right: 15px;
}

.landing .right {
  position: relative;
  width: min(50%, 600px);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.landing .right img{
  height: 95%;
  position: relative;
  z-index: 1;
}

.landing .right:before{
  position: absolute;
  content: " ";
  display: block;
  inset: 0;
  background:
    left 70px bottom -10px/250px no-repeat url("./bg-rings-yellow.png"),
    right 0 top 270px/250px no-repeat url("./bg-rings-yellow.png");
}

.landing .right .highlight {
  width: 263px;
  height: 216px;
  position: absolute;
  bottom: 100px;
  left: -30px;
  display: flex;
  justify-content: center;
}

.landing .right .highlight .icon-holder {
  position: absolute;
  top: 0;
  z-index: 5;
}

.landing .right .highlight img {
  width: 100%;
  height: 100%;
}

.landing .right .rating {
  position: absolute;
}

@media (width < 1024px) {
  .landing .right {
    display: none;
  }

  .landing .left {
    width: 90%;
  }

  .landing .left h2{
    font-size: 50px;
  }
}
