.footer {
  color: var(--light);
  background: right -25px center/206px no-repeat url("./bg-rings-yellow.png") var(--secondary);
}

.footer > section {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: min(80%, 1000px);
  min-width: 650px;
}

.footer .contact {
  padding: 53px 0 89px;
  border-bottom: 1px solid var(--primary);
}

.footer .text-follow {
  text-transform: uppercase;
}

.footer .social-links {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}

.social-links a {
  color: var(--light);
}

.footer .icon {
  font-size: 22px;
}

.footer .info {
  padding: 25px 0;
  font-size: 16px;
}

@media (width < 1024px) {
  .footer {
    padding: 20px;
  }

  .footer > section {
    flex-direction: column;
    gap: 23px;
    justify-content: space-between;
    min-width: 0;
    width: 100%;
  }

  .footer .contact {
    padding: 40px 0;
  }

  .footer .contact > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .footer .social-links {
    align-self: stretch;
  }

}
