:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  --primary: #fbaf17;
  --primary-shadow: #fbaf174d;
  --secondary: #202332;
  --light: #ffffff;
  --dark: #202332;
  --light-gray: #e0e0e0;
  --dark-gray: #333333;

  --color-icon: #828282;

  --radius-sm: 10px;
  --radius-md: 15px;
  --radius-lg: 70px;
}

html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
